.mealDiv {
  width: 100%;
  height: 50vh;
  margin: 0;
  padding: 0;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 5em;
  color: white;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}